@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Rubik:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;
@layer components {
  .glassBg {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(255, 255, 255, 0.65);
  }
}
